{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница призывника</title>

    <link rel="stylesheet" href="{% static 'static_files/css/main.css' %}">

</head>

<body>
    {% include "information_pages/header.html" %}
    {% block content %}
    <h1>Страница призывника</h1>
    {{valid_or_not}}

    {{get_req}}

    
    {% if inductee != None %}
    <div class="inductee_inf">
        <p style="font-size: 25px; font-weight: bold;">Данные призывника</p>

        <p>{{inductee.surname}} {{inductee.name}} {{inductee.patronymic}}</p>
        <p>Возраст: {{inductee.calculate_age}}</p> 
        <p>Телефон: {{inductee.phone}}</p> 
        <p>Категория годности: {{inductee.military_category}}</p> 
        <p>Военный статус: {{inductee.military_status}}</p> 

        {% if military_id != Null %}
        <p>Военный билет № {{military_id.pk}}</p>  
        <p>Кому выдан: {{military_id.to_whom}}</p> 
        <p>Кем выдан: {{military_id.issued_by}}</p> 
        <p>Когда выдан: {{military_id.when_issued.date}}</p> 

        {%endif%}
        {%endif%}

    </div>

    {% if change_form != None %}
    <br>
    <div class="change_form">
        <p style="font-size: 25px; font-weight: bold;">Форма изменения данных призывника</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{change_form.as_p}}
            <p><input type="submit" value="Изменить данные"></p>
        </form>

    </div>

    {% endif %}
    {% endblock %}
</body>

</html>