{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'static_files/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'static_files/css/sign_up.css' %}">
</head>

<body>
    {% block content %}
    <div class="centred_sign_up">
        <h1>Регистрация</h1>
        <p>Заполните следующую форму:</p>
        <div class="signup">
            <div>
                <form action="." method="post"> {% csrf_token %}
                    {{form.as_p}}
                    
                    <p><input type="submit" value="Зарегистрироваться"></p>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>